<!DOCTYPE html>
<html>
    <head>
        <title>Demo App</title>
        <link rel="stylesheet" href="/app.css">
        <!-- / in /app.css is needed for it to look at root directory -->
    </head>
    <body>